<header>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/dashboards/show_user_dashboard">RUTH SHIPPING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if logged_in? %>
            <li class="nav-item dropdown my-2 my-lg-0 float-right">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Imports
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- <a class="dropdown-item" href="#">Action</a> -->
                <%= link_to "Add import data", new_import_path, :class => 'dropdown-item' %>
                <%= link_to "Show import data", imports_path, :class => 'dropdown-item' %>
              </div>
            </li>
            
              <!-- <li class="nav-item dropdown my-2 my-lg-0 float-right">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Users
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to "Show users", users_path, :class => 'dropdown-item' %>
                </div>
              </li> -->
            
            <li class="nav-item dropdown my-2 my-lg-0 float-right">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Settings
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- <a class="dropdown-item" href="#">Action</a> -->
                <%= link_to "Profile", current_user, :class => 'dropdown-item' %>
                <%= link_to "Log out", logout_path, method: :delete, :class => 'dropdown-item' %>
              </div>
            </li>
          <% else %> 
            <li class="nav-item">
              <%= link_to "Log in", login_path, :class => 'nav-link' %>
            </li> 
          <% end %> 
        </ul>
    </div>
  </nav>
</header>