<h1 class="text-center">Import details</h1>
<div class="container-fluid">
	<div class="col-md-12">
		<table class="table table-striped">
	    <thead>
	      <tr>
	      	<th>Id</th>
	        <th>Job No</th>
	        <th>IMP</th>
	        <th>Commodity</th>
	        <th>Line</th>
	        <th>Status</th>
	        <th>Arrived</th>
	        <th>Action</th>
	      </tr>
	    </thead>
	    <tbody>
	    	<% @imports.each do |import| %>
		    	<tr>
		    		<td><%= import.id %></td>
		    		<td><%= import.job_no %></td>
		    		<td><%= import.imp %></td>
		    		<td><%= import.supplier_name %> / <%= import.cargo_name %> / <%= import.port_of_loading %></td>
		    		<td><%= import.line %></td>
		    		<td><%= import.status %></td>
		    		<td><%= import.arrived %></td>
		    		<td>
		    			<%= link_to "", import_path(import.id), class:"fas fa-binoculars text-success" %> &nbsp; &nbsp;
                <%= link_to "", edit_import_path(import.id), class:"far fa-edit text-primary" %>&nbsp; &nbsp;
                <%= link_to "", import_path(import.id), method: :delete, data:{confirm: "Are you sure you want to delete"}, class:"far fa-trash-alt text-danger" %>
		    		</td>
		    	</tr>
	      <% end %>
	    </tbody>
	  </table>
	</div>
</div>